### 필수과제 1.
### offsets ,first  외 다양한 문법들 찾아보기! 5개 이상 찾기
- 시계열데이터 문법, 직장인들 일하는 날 
- 필수 과제는 구글링

- 유용한 문법을 공유해 주세요!

In [ ]:
1

In [8]:
import pandas as pd
from datetime import datetime

In [9]:
today = datetime.now()

In [10]:
today

datetime.datetime(2023, 1, 8, 17, 36, 47, 383513)

In [16]:
display(today.year)
display(today.month)
display(today.day)

2023

1

8

In [ ]:
2

In [18]:
start = datetime(2019,5,13)
fin = datetime(2020,12,12)

In [19]:
from datetime import timedelta

In [20]:
start + timedelta(100)

datetime.datetime(2019, 8, 21, 0, 0)

In [21]:
fin - timedelta(100)

datetime.datetime(2020, 9, 3, 0, 0)

In [ ]:
3

In [28]:
start = '2019/05/13'
t1 = datetime.strptime(start, '%Y/%m/%d')
t1.strftime('%A') #datetime object 적용 가능(메서드 형식)

'Monday'

In [ ]:
4

In [30]:
pd.date_range("2022-12-1", "2022-12-15") #전체

DatetimeIndex(['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04',
               '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08',
               '2022-12-09', '2022-12-10', '2022-12-11', '2022-12-12',
               '2022-12-13', '2022-12-14', '2022-12-15'],
              dtype='datetime64[ns]', freq='D')

In [31]:
pd.date_range("2022-12-1", "2022-12-15", freq="B") #평일

DatetimeIndex(['2022-12-01', '2022-12-02', '2022-12-05', '2022-12-06',
               '2022-12-07', '2022-12-08', '2022-12-09', '2022-12-12',
               '2022-12-13', '2022-12-14', '2022-12-15'],
              dtype='datetime64[ns]', freq='B')

In [33]:
pd.date_range("2022-12-1", "2022-12-15", freq="W") # 주말

DatetimeIndex(['2022-12-04', '2022-12-11'], dtype='datetime64[ns]', freq='W-SUN')

In [ ]:
5

In [36]:
birth = pd.to_datetime("1998-12-07")

In [37]:
add_year = pd.DateOffset(years=1)

In [38]:
birth + add_year

Timestamp('1999-12-07 00:00:00')

In [41]:
add_11_mon = pd.DateOffset(month=11)

In [42]:
birth + add_11_mon

Timestamp('1998-11-07 00:00:00')

In [2]:
import pandas as pd
import numpy as np

## 필수과제2
- 시계열데이터를 가지고 요일을 추출하는 것을 구글링해서 컬럼을 만들어주세요!
- 요일컬럼 만들어서 공유!

In [3]:
crime=pd.read_csv('crime.csv')

In [4]:
crime

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...,...
460906,460906,burglary-business-by-force,burglary,2017-09-13 05:48:00,-105.033840,39.762365,west-highland,1,0
460907,460907,weapon-unlawful-discharge-of,all-other-crimes,2017-09-12 20:37:00,-105.040313,39.721264,barnum-west,1,0
460908,460908,traf-habitual-offender,all-other-crimes,2017-09-12 16:32:00,-104.847024,39.779596,montbello,1,0
460909,460909,criminal-mischief-other,public-disorder,2017-09-12 13:04:00,-104.949183,39.756353,skyland,1,0
460910,460910,theft-other,larceny,2017-09-12 09:30:00,-104.985739,39.735045,capitol-hill,1,0

In [44]:
crime['REPORTED_DATE'] = pd.to_datetime(crime['REPORTED_DATE'])

In [46]:
crime_tmp = crime.set_index('REPORTED_DATE').sort_index()

In [47]:
crime_tmp

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2017-09-29 03:58:00,454315,traf-other,all-other-crimes,-104.994817,39.768043,globeville,1,0
2017-09-29 03:58:00,454304,burglary-business-by-force,burglary,-104.987803,39.681199,overland,1,0
2017-09-29 04:12:00,454656,traf-other,all-other-crimes,-105.006426,39.783139,sunnyside,1,0
2017-09-29 04:12:00,455301,drug-pcs-other-drug,drug-alcohol,-105.048416,39.726209,villa-park,1,0
2017-09-29 06:16:00,453457,theft-of-motor-vehicle,auto-theft,-104.890269,39.657222,hampden,1,0

In [50]:
crime['datetime_w'] = crime['REPORTED_DATE'].dt.day_name()
crime

#요일 데이터 추출

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC,datetime_m,datetime_w
0,0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1,2014-06,Sunday
1,1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0,2014-06,Sunday
2,2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0,2014-06,Sunday
3,3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0,2014-06,Sunday
4,4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0,2014-06,Sunday
...,...,...,...,...,...,...,...,...,...,...,...
460906,460906,burglary-business-by-force,burglary,2017-09-13 05:48:00,-105.033840,39.762365,west-highland,1,0,2017-09,Wednesday
460907,460907,weapon-unlawful-discharge-of,all-other-crimes,2017-09-12 20:37:00,-105.040313,39.721264,barnum-west,1,0,2017-09,Tuesday
460908,460908,traf-habitual-offender,all-other-crimes,2017-09-12 16:32:00,-104.847024,39.779596,montbello,1,0,2017-09,Tuesday
460909,460909,criminal-mischief-other,public-disorder,2017-09-12 13:04:00,-104.949183,39.756353,skyland,1,0,2017-09,Tuesday
460910,460910,theft-other,larceny,2017-09-12 09:30:00,-104.985739,39.735045,capitol-hill,1,0,2017-09,Tuesday

In [57]:
week_num = {1:"Monday", 2:"Tuesday", 3:"Wednesday", 
                4:"Thursday", 5:"Friday", 6:"Saturday", 7:"Sunday"}
week_change = {"Monday":1, "Tuesday":2, "Wednesday":3, 
                "Thursday":4, "Friday":5, "Saturday":6, "Sunday":7}

In [60]:
crime_when = crime['datetime_w'].to_frame()

In [61]:
crime_when

       datetime_w
0          Sunday
1          Sunday
2          Sunday
3          Sunday
4          Sunday
...           ...
460906  Wednesday
460907    Tuesday
460908    Tuesday
460909    Tuesday
460910    Tuesday

[460911 rows x 1 columns]

In [67]:
crime_when.rename(columns={"datetime_w":"day"}, inplace=True)

In [68]:
crime_when

              day
0          Sunday
1          Sunday
2          Sunday
3          Sunday
4          Sunday
...           ...
460906  Wednesday
460907    Tuesday
460908    Tuesday
460909    Tuesday
460910    Tuesday

[460911 rows x 1 columns]